[user]
	name = Nathan Rowe
	email = nathanrowe@bell.net
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "diff"]
  meta = 141
  new = 84
  old = 203
[color "status"]
  added = 84
  changed = 203
  untracked = 203
  nobranch = 203
  branch = 123
[color "branch"]
  current = 84
  remote = 203
